<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Assign Instrument</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div align="center">
        <h1>Assign Instrument to Customer</h1>
        <a th:href="@{/admin-dashboard}">
            <button type="button" class="btn btn-dark"> Customer List</button>
        </a>
        <br/>
        <form action="#" th:action="@{/instruments/assign}" method="post">
            <input type="hidden" name="customerId" th:value="${customer.id}"/>
            <table border="0" cellpadding="10">
                <tr>
                    <td>Customer First Name: <strong><span th:text="${customer.firstName}"></span></strong></td>
                </tr>
                <tr>
                    <td>Customer Last Name: <strong><span th:text="${customer.lastName}"></span></strong></td>
                </tr>

                <tr>
                    <td>Assign Instrument:
                        <select class="form-select" th:name="instrumentId">
                            <option th:if="${instrumentList.isEmpty()}">None Available</option>
                            <option th:each="instrument : ${instrumentList}" th:value="${instrument.id}"
                                    th:text="${instrument.toString()}"></option>
                        </select></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-dark btn-block" th:disabled="${instrumentList.isEmpty()}">
                            Save
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>