<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<div align="center">
    <h1>Edit Customer
    <br/>
        <!--
        The form below uses a structure similar to the new-customer page. But this time,
        since the Customer object fields were populated before it was added to the model, their
        values populate the fields here. Any changes to the fields then POST to the update endpoint.
        -->
        <form action="#" th:action="@{'/update/' + ${customer.id}}" th:object="${customer}"
              method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>Customer ID:</td>
                    <td><input type="text" th:field="*{id}" readonly/></td>
                </tr>
                <tr>
                    <td>Customer Name:</td>
                    <td><input type="text" th:field="*{fullName}" required/></td>
                </tr>
                <tr>
                    <td>Email Address:</td>
                    <td><input type="email" th:field="*{emailAddress}" required/></td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="number" th:field="*{age}" required/></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><textarea type="text" th:field="*{address}" required></textarea></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Save</button></td>
                </tr>
            </table>
        </form>
    </h1>
</div>
</body>
</html>