<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
      tr:nth-of-type(odd) {
      background-color:#ccc;
    }
</style>
    <title>Customer Manager</title>
</head>
<body>
<div align="center">
    <h1>Customer List</h1>
    <a th:href="@{/new}">Add New Customer</a>&nbsp;
    &nbsp;<a th:href="@{/instruments/}">View Instrument List</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Customer ID</th>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Age</th>
            <th>Address</th>
            <th>Instrument</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customerList}">
            <td th:text="${customer.id}">Customer ID</td>
            <td th:text="${customer.fullName}">Full Name</td>
            <td th:text="${customer.emailAddress}">Email Address</td>
            <td th:text="${customer.age}">Age</td>
            <td th:text="${customer.address}">Address</td>
            <td th:text="${customer.instrument}">Instrument</td>
            <td><a th:href="@{'/edit/' + ${customer.id}}">Edit</a>
                <a th:href="@{'/delete/' + ${customer.id}}"
                   onclick="return confirm('Are you sure you want to delete this customer?')">Delete</a>
                <a th:text="${(customer.instrument == null) ? 'Assign Instrument' : ''}"
                th:href="@{'/instruments/assign/' + ${customer.id}}"></a>
                <a th:text="${(customer.instrument != null) ? 'Remove Instrument' : ''}"
                   th:href="${(customer.instrument != null) ? '/instruments/remove/' + customer.instrument.getId() + '/' + customer.id : ''}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>