<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Customer</title>
</head>
<body>
<div align="center">
    <h1>Add Customer</h1>
    <br/>
    <!--
    Here is the form that will be used to save the new customer.
    The form is tied to the Customer object you added to the model,
    and on submit it will hit the /save endpoint using the POST method.
    -->
    <form action="#" th:action="@{/save}" th:object="${customer}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Customer Name:</td>
                <td><input type="text" th:field="*{fullName}" required/></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><input type="email" th:field="*{emailAddress}" required/></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="number" th:field="*{age}" required/></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><textarea type="text" th:field="*{address}" required></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>